body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.sticky_header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.display_flex {
    display: flex;
}
.banner_container {
    background-color: #FFF2F3;
}
.banner_info {
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 130px;
    flex-flow: column;
    gap: 30px;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
}
.sub_title {
    color: #96BB7C;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.title {
    color: #252B42;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}
.description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
}
.button_container {
    gap: 10px;
}
.button_green {
    background-color: #96BB7C;
    min-width: 133px;
    min-height: 52px;
    border-radius: 5px;
    padding: 15px 40px;
    border-width: 1px;
    border-color: #96BB7C;
    border-style: none;
}
.button_green:hover {
    background-color: #56BB7C;
}
.button_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
}
.white_text {
    color: #ffffff;
}
.green_text {
    color: #96BB7C;
}
.col_banner_left {
    margin-left: 30px;
}
.margin_0 {
    margin: 0;
}
.button_hollow {
    border-color: #96BB7C;
    border-style: none;
    border-width: 6px;
    border-radius: 5px;
    padding: 15px 40px;
    min-width: 162px;
    min-height: 52px;
    background-color: #ffffff00;
}