* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body, html {
    min-width: 640px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.sticky_header {
    background-color: #FFF2F3;
    color: #fff;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    display: flex;
}
.display_flex {
    display: flex;
}
.flex_wrap {
    flex-wrap: wrap;
}
.banner_container {
    background-color: #FFF2F3;
}
.banner_info {
    width: 42%;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 130px;
    flex-flow: column;
    gap: 30px;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
}
.sub_title {
    color: #96BB7C;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.banner-title {
    color: #252B42;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
}
.description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
}
.button_container {
    gap: 10px;
    text-wrap: nowrap;
}
.button_active {
    background-color: #96BB7C;
    min-width: 133px;
    min-height: 52px;
    border-radius: 5px;
    padding: 15px;
    border-width: 1px;
    border-color: #96BB7C;
    border-style: none;
}
.button_active:hover {
    background-color: #56BB7C;
}
.button_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
}
.white_text {
    color: #ffffff;
}
.green_text {
    color: #96BB7C;
}
.margin_0 {
    margin: 0;
}
.button_hollow {
    border-color: #96BB7C;
    border-style: none;
    border-width: 6px;
    border-radius: 5px;
    padding: 15px;
    min-width: 162px;
    min-height: 52px;
    box-shadow: 0 0 0 1px #96BB7C;
    background-color: #ffffff00;
}
.display_initial {
    display: initial;
}
.upper_line::after {
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 94px;
    background-color: #E74040;
    /* top: calc(100% + 93px); */
}
.learning_block {
    padding-top: 92px;
    padding-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap-reverse;
}
.learning_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.learning_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.learn_more_button {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
}
.learning_content {
    display: flex;
    flex-flow: column;
    gap: 35px;
}
.gap_10 {
    gap: 10px;
}
.icon_right_arrow {
    display: flex;
    align-items: center;
}
.text_decoration_none {
    text-decoration: none;
}
.team_sub_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.2px;
}
.team_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.1px;
}
.team_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.block_team_content {
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.margin_bottom_105 {
    margin-bottom: 110px;
}
.card_container {
    display: flex;
    flex-flow: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 88px;
}
.padding_vertical_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.card_content {
    display: flex;
    flex-flow: column;
    gap: 10px;
    text-align: center;
}
.block_social {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card_level {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
}
.team_card {
    border-radius: 20px;
    box-shadow: 0px 13px 19px 0px #00000012;
    transition: box-shadow 0.3s ease;
}
.team_card:hover {
    box-shadow: 0px 13px 19px 0px red;
    box-shadow: 0px 13px 19px 0px #00000032;
    transition: box-shadow 0.3s ease;
}
.img_radius {
    border-radius: 20px 20px 0 0;
}
.sub_container {
    max-width: 1050px;
    margin: 0 auto;
}
.member_name {
    font-size: 16px;
}
.footer_container {
    padding-top: 50px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.footer_title {
    font-size: 16px;
    font-weight: 700;
    color: #252B42;
    margin-bottom: 20px;
}
.footer_content {
    display: flex;
    flex-flow: column;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer_content a {
    color: #737373;
    text-decoration: none;
}
.footer_contact {
    display: flex;
    gap: 10px;
    align-items: center;
}
.header_brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
}
.header_content {
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}
.header_container {
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_items {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #737373;
    display: flex;
    gap: 20px;
    flex-flow: row;
}
.header_items a {
    text-decoration: none;
    color: #737373;
}
.header_button_active {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    flex-flow: row;
    gap: 15px;
    align-items: center;
}
.header_button_hallow {
    min-width: 120px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #96BB7C;
}
.header_block_button {
    margin-right: 88px;
    display: flex;
}
.padding_top_5 {
    padding-top: 5px;
}
.footer_copyright {
    background-color: #FAFAFA;
    padding: 28px 0;
}
.footer_brand {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #737373;
}
.footer_justify_content {
    justify-content: space-between;
}
.footer_buttons {
    margin-right: 65px;
    display: flex;
    flex-flow: row;
    gap: 20px;
}
.gap_5 {
    gap: 5px;
}
.footer_item {
    margin-bottom: 15px;
}
.header_hamburger {
    cursor: pointer;
    height: 14px;
    width: 20px;
    transition: .5s ease-in-out;
    position: relative;
    display: none;
    margin-right: 30px;
}
.header_hamburger span:nth-child(1) {
    top: 0;
}
.header_hamburger span {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #0E141E;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    top: 6px;
    border-radius: 1px;
}
.header_hamburger span:nth-child(4) {
    top: 12px;
}
.header_res {
    padding: 15px 0;
    width: 100%;
}
.header_opened {
    background-color: #FFF2F3;
    height: 100vh;
    transition: height 0.3s ease;
    position: absolute;
    top: 60px;
    width: 100%;
    display: none;
}
.header_opened_items {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #737373;
    display: flex;
    gap: 20px;
    flex-flow: column;
    text-align: left;
    margin: 0 15px;
}
.header_opened_items a {
    text-decoration: none;
    color: #737373;
    width: fit-content;
}
.header_opened_buttons {
    display: flex;
    margin: 0 15px;
    padding-top: 20px;
    gap: 20px;
}
.sticky_header .button_hollow {
    box-shadow: none;
}



@media only screen and (max-width: 1450px) {
    .banner {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1050px) {
    .header_block_button {
        margin-right: 35px;
    }
    .header_container {
        margin: 0 15px;
        min-width: 640px;
        width: 100%;
    }
    .block_team_content {
        margin-left: 15px;
        margin-right: 15px;
    }
    .team_card {
        width: 239px;
    }
    .learning_block {
        gap: 25px;
        
    }
    .footer_container {
        margin: 0 15px;
        gap: 50px;
    }
    .margin_horizontal_15 {
        margin: 0 15px;
    }
    .footer_buttons {
        margin-right: 0;
    }
    .card_container {
        flex-wrap: wrap;
        margin: 0 15px;
    }
    .upper_line::after {
        top: auto;
    }
    .learning_content {
        margin: 0 15px;
    }
    .mobile_learning_img {
        width: 100%;
        transform: scaleX(-1);
    }
}

@media only screen and (max-width: 860px) {
    .header_content {
        gap: 20px;
    }
    .header_block_button {
        display: none;
    }
    .header_items {
        display: none;
    }
    .header_hamburger {
        display: block;
    }
}